<div class="container">
  <div class="card">
    <div class="card-header">
      <%= link_to 'Home Page', root_path %>
    </div>

    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Superhero name: <%= @hero_name %><br/>
          Superhero power: <%= @hero_power %>
    </div>

    <div class="card-footer">
    <%= link_to 'Create A Team', home_team_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

