<div class="container">
  <div class="card">
    <div class="card-header team">
      <% if @team_number > 0 %>
        Your Superhero Team...
      <% else %> 
        How Many Team Memebers Do You Want?
      <% end %>
    </div>

   <% if @team_number > 0 %>
       <%= render 'home/shared/show_team' %>
    <% else %>
       <%= render 'home/shared/create_team' %>
    <% end %>   

    <div class="card-footer">
    <%= link_to 'Create A Team', home_team_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>